{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CAPOPLAST</title>
  <link rel="stylesheet" href="{% static 'css/whatsapp.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

{% include 'navbar.html' %}
{% include 'carousel.html' %}


<a href="https://api.whatsapp.com/send?phone=3513497968&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20ECOTELAS." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

</body>
</html>