{% load static %}

<link href="{% static 'css/info1.css' %}" rel="stylesheet">
<div class="info">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo tellus vel turpis feugiat, sit amet mollis
      lorem blandit. Fusce vel odio eu libero consectetur blandit sed eget purus. Integer volutpat, nibh eu consequat
      malesuada, enim quam auctor libero, sed commodo magna orci vitae ante. Duis non enim id lorem consectetur
      dictum.
      Vestibulum eget urna eu nulla bibendum scelerisque ac eu arcu. Vivamus vel sollicitudin augue, non pellentesque
      sapien. Ut sit amet ex nec nisl semper dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Suspendisse potenti. In lobortis vel risus a suscipit. Proin sagittis dapibus pulvinar.
      Donec ac enim ornare, gravida ipsum vitae, luctus ante. Sed faucibus dolor quis enim aliquet, nec ultricies
      velit
      volutpat. Sed eget odio id risus bibendum auctor. Nulla sit amet felis mi.</p>
  </div>
  <div class="imagen-div">
    <img src="{% static 'images/rollos1.jpg' %}" class="imagen">
  </div>
</div>