{% load static %}

<link href="{% static 'css/info1.css' %}" rel="stylesheet">
<div class="info">
  <div class="imagen-div">
    <img src="{% static 'images/rollos3.jpg' %}" class="imagen">
  </div>
  <div>
    <p>Las principales ventajas de nuestra protección contra heladas:</p>
    <ul>
      <li>Minimiza los daños causados ​​por el viento y la lluvia</li>
      <li>La duración de más de 2 ciclos de producción</li>
      <li>Producción de alta resistencia a la tracción desestacionalizada.</li>
      <li>Reducir el uso de agroquímicos.</li>
      <li>Mejora la apariencia y calidad comercial de los cultivos.</li>
      <li>Sostenible y respetuoso con el medio ambiente.</li>
      <li>Minimiza el daño por helada cubriendo hasta -5°C</li>
      <li>Permite el paso del aire, el agua y la luz solar, mejorando la fotosíntesis de los cultivos.</li>
    </ul>
  </div>
</div>
<hr>