{% load static %}

<link href="{% static 'css/info1.css' %}" rel="stylesheet">
<div class="info">
  <div>
    <p>La ECO-TELA CAPO PLAST no tejida adopta la tecnología ANTI-HELADA, utilizando materia prima de polipropileno 100%
      puro y aditivos de degradación anti-ultravioleta para producir bajo el proceso de spun-bonding, dotando al
      material de mayor flexibilidad, resistencia y vida útil, producción intensiva y Una propiedad necesaria para usar
      como manta flotante o túnel de jardín.</p>
  </div>
  <div class="imagen-div">
    <img src="{% static 'images/rollos2.jpg' %}" class="imagen">
  </div>
</div>
<hr>